#calc-container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: center;
}

#title{
    font-size: 50px;
    font-weight: 700;
}

.calc{
    display: flex;
    flex-direction: column;
}
.result-field{
    background-color: black;
    height: 60px;
    width: 400px;
    display: flex;
    justify-content: right;
}
.first-row {
    display: flex;
    background-color: aquamarine;
    width: 400px; 
}

.second-row {
    display: flex;
    background-color: aquamarine;
    width: 400px; 
}

.third-row {
    display: flex;
    background-color: aquamarine;
    width: 400px; 
}

.fourth-row {
    display: flex;
    background-color: #7fffd4;
    width: 400px; 
}

.seven, .eight, .nine, .plus, .four, .five, .six, .minus, .one, .two, .three, .divide, .multiply, .equal {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid black; 
    height: 60px;
}
.zero{
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid black; 
    height: 60px;
}

.result{
    font-size: 45px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.seven:hover, .eight:hover, .nine:hover, .plus:hover, .four:hover, .five:hover, .six:hover, .minus:hover, .one:hover, .two:hover, .three:hover, .divide:hover, .multiply:hover, .equal:hover, .zero:hover {
    background-color: #b2f0e4; 
}

.seven:active, .eight:active, .nine:active, .plus:active, 
.four:active, .five:active, .six:active, .minus:active, 
.one:active, .two:active, .three:active, .divide:active, 
.multiply:active, .equal:active, .zero:active {
    background-color: #c0c0c0;
}
